@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 125%;
  font-family: "Montserrat";
  color: #000000;
  letter-spacing: -0.05em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
  html {
    font-size: 1em;
  }
}

body {
  width: 100%;
  height: 100%;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

// firefox placeholder \ invalid fix + ios bdrs
input,
textarea {
  border-radius: 0;

  &::placeholder {
    opacity: 1;
  }

  &:invalid {
    box-shadow: none;
  }
}

select {
  border-radius: 0;
}

// ie11 X removal
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

// chrome search X removal
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

// input[number] arrows removal
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

// ios button \ inputs reset
select,
textarea,
input:matches([type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]) {
  appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

.container {
  width: 100%;
  max-width: calc(100% - 0%);
  margin: 0 auto;
  padding: 0 0.5em;
}

@media (min-width: 768px) {
  .container {
    max-width: calc(100% - 0%);
    padding: 0 1.5em;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: calc(100% - 15%);
    padding: 0 2em;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: calc(100% - 20%);
    padding: 0 2.5em;
  }
}

.accordion__input {
  width: 0;
  height: 0;

  appearance: none;
  -webkit-appearance: none;

  position: absolute;
}

.accordion__title {
  font-size: 1.75em;
  line-height: 2em;
  font-weight: 700;
  margin: 0;
  border-bottom: 0.15em solid #000000;
}

.accordion__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*grid-column: 1/-1;*/
  font-size: 0.7em;
  font-weight: 500px;
  line-height: 1.5em;
  padding: 0.7em 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .accordion__caption {
    font-size: 1.3em;
    line-height: 1.8em;
  }
}

@media (min-width: 1024px) {
  .accordion__caption {
    font-size: 1.5em;
    line-height: 2em;
    padding: 1.4em 0;
  }
}

@media (min-width: 1920px) {
  .accordion__caption {
    font-size: 1.8em;
    line-height: 2.3em;
  }
}

.accordion__item {
  border-bottom: 0.1em solid #000000;
}

.accordion__box {
  display: flex;
  flex-direction: column;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr;*/
  /*align-items: center;*/
  /*padding: 0.7em 0;*/
}

.accordion__icon {
  /*grid-column: min-content;*/
  display: inherit;
}

.accordion__icon svg {
  fill: none;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  flex-shrink: 0;
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
}

.accordion__img {
  margin: 0 auto;
  padding-bottom: 0.6em;
}

.accordion__description {
  /*grid-column: 1/5;*/
  display: none;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  /*padding-bottom: 1.2em;*/
  /*transition: all 0.4s ease-out;*/
}

.accordion__input:checked ~ .accordion__description {
  display: block;
  max-height: 100%;
  transition: all 0.4s ease-out;
}

.accordion__input:checked ~ .accordion__caption .accordion__icon svg {
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
}